h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding: 40px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.popular-suggestions {
    width: 75vw;
    height: 75vw;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.suggestion {
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    color: #fff;
}

.suggestion h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 23px;
    margin-bottom: 15px;
}

.suggestion-place {
    margin-bottom: 15px;
}

.suggestion-place, .suggestion-time {
    font-size: 16px;
    line-height: 130%;
}

.price {
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
}


.big-suggestion {
    grid-column: span 2;
    grid-row: span 2;
}

.suggestion:nth-child(1) {
    background-image: url('../images/trees.jpg');
}

.suggestion:nth-child(2) {
    background-image: url('../images/elephants.png');
}

.suggestion:nth-child(3) {
    background-image: url('../images/lion.png');
}

.suggestion:nth-child(4) {
    background-image: url('../images/children.png');
}

.suggestion:nth-child(5) {
    background-image: url('../images/giraffs.png');
}

.suggestion:nth-child(6) {
    background-image: url('../images/mountain.png');
}

.suggestion:nth-child(7) {
    background-image: url('../images/buildings.png');
}

.suggestion:nth-child(8) {
    background-image: url('../images/zebra.png');
}

.suggestion:nth-child(9) {
    background-image: url('../images/dock.png');
}

.suggestion:nth-child(10) {
    background-image: url('../images/waterfall.png');
}

