body {
    padding-bottom: important 40px;
    background-color: #e8e8e8;
}

p, h1, h3 {
    color: #273d46;
}

li {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #273d46;
}

.page {
    width: 100%;
}

.container {
    width: 1190px;
    margin: 106px auto 137px;
}

.first-part, .second-part {
    width: 100%;
    
}

.first-part {
    height: 1064px;
    background-color: #e8e8e8;
}

.background-image-block {
    background-image: url('../images/ellipse_1_copy_4.png');
    width: 1190px;
    /* background-color: #fff; */
    opacity: 0.24;
    position: absolute;
    height: 1064px;
    z-index: 6;

}

.website_title, .image, .first-part-description {
    position: relative;
    z-index: 100000;
}

.website_title {
    width: 725px;
    margin: 100px 264px 77px 205px;
}

.website_title h3 {
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

.website_title h1 {
    font-family: 'Times New Roman';
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    text-align: center;
}

.image {
    width: 821px;
    margin: 87px 212px 107px 157px;
    box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
    border: 10px solid #fff;

}

.description { 
    width: 740px;
    margin: 0 264px 55px 190px;
}

.description p {
    opacity: 0.8;
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #273d46;
}


.second-part-description {

    margin-top: 0;
}

.advantages {
    width: 725px;
    margin: 0 264px 60px 190px;
}


.advantages ul li:before {

    background: url('../images/check_icon_37.png') no-repeat; 
    content: '';
    width: 25px;
    height: 19px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }


.advantage:first-child {
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}

.italic-advantage {
    font-style: italic;
    color: #80b7b3;
}

.bold-advantage {
    font-weight: 700;
}

.crossedout-advantage {
    opacity: 0.3;
    text-decoration: line-through;
}

.full_story_section {
    width: 740px;
    margin: 0 264px 137px 190px;
}

.full_story_button {
    background-color: #80b7b3;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    padding: 5px 27px 5px 30px;
    border-radius: 30px;
}



.full_story_button_title {
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}

.full_story_button_title:after {
    content: '';
    background: url('../images/shape_2_9.png') no-repeat;
    width: 25px;
    height: 19px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 11px;
}

.end-block {
    height: 1px;
    width: 100%;
}



