.body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.top {
    background-color: #21062A;
    background-image: url('../images/top_background.png');
    background-size: 100%;
    padding-top: 47px;
    color: #2C2B2B;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 300px;
}

.top__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 105px;

}

.phone {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.top-description {
    display: flex;
    color: #FFFFFF;
}
.top-description__text {
    flex-basis: 780px;
}

.top-description .title {
    font-size: 72px;
    line-height: 80px;
    font-weight: 400;
    margin-bottom: 10px;
}
.top-description .subtitle {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.top-description p {
    color: #C4C4C4;
    margin-bottom: 30px;
    font-size: 18px;
}

.consultation-button {
    margin-bottom: 70px;
    font-size: 14px;
    font-weight: 300;
}

.page-button, .send-button {
    transition: all .2s;
}

.page-button:hover, .send-button:hover {
    color: #5A0D67;
    background-color: #fff;
}

.top-description__social-media, .footer__social-media {
    height: 25px;
    display: flex;
    align-items: center;
}

.top-description__social-media {
    margin-left: 65px;
    margin-bottom: 120px;
}

a.icon {
    display: block;
    margin-right: 15px;
    background-repeat: no-repeat;
}

.instagram {
    background-image: url('../images/instagram.svg');
    width: 25px;
    height: 25px;
}
.telegram {
    width: 25px;
    height: 19px;
    background-image: url('../images/telegram.svg');
}
.whatsapp {
    width: 25px;
    height: 25px;
    background-image: url('../images/whatsapp.svg');
}
.facebook {
    width: 25px;
    height: 25px;
    background-image: url('../images/facebook.svg');
}

.top-description__image {
    position: relative;
}

.top-description img {
    position: absolute;
    left: -395px;
    top: 235px;
}

/* Services */

.services {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #2C2B2B;
}

.services__inner {
    display: flex;
}


.info {
    max-width: 520px;

}

.info h3 {
    margin-top: 70px;
    margin-bottom: 12px;
    color: #5A0D67;
}

.info h3:first-child {
    margin-top: 0;
}

.info p {
    line-height: 26px;
}

.info__button-box {
    margin-top: 50px;
    width: 100%;
    position: relative;
    display: flex;
    box-sizing: border-box; 
}

.button-sign .line-box {
    position: relative;
    top: 0;
    left: 0;
    width: 80px;
}

#button-line {
    left: -10px;
    border-bottom: 2px solid #C4C4C4;
}

.sign-title {
    display: flex;
    align-items: center;
    color: #C4C4C4;
}



.button-sign {
    display: flex;
}

.info__button {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    color: #fff;
    background-color: #5A0D67;
    padding: 15px 0;
    width: 250px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}



.plan {
    margin-left: 90px;
    color: #2C2B2B;
    flex-basis: 600px;
    font-family: 'Oswald';
    font-weight: 300;
}

.plan__item {
    position: relative;
    display: flex;
    padding: 15px 25px;
    border: 1px solid #C4C4C4;
    margin-bottom: 12px;
    width: 500px;
    transition: all .1s;
}

.hover-border {
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    border: 3px solid #5A0D67;
    visibility: hidden;
}

.plan__item:hover .hover-border {
    visibility: visible;
}


.plan__item:hover {
    width: 100%;
    /*  */
}

.plan__item:hover .number span, .plan__item:hover h3  {
    color: #5A0D67;
}


.plan__item .number {
    margin-right: 40px;
    text-align: center;
    display: flex;
}

.plan__item .number span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 36px;
    font-weight: 400;
    color: #C4C4C4;

}

.plan__item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.page-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: flex;
    font-size: 36px;
    font-weight: 400;
    color: #21062A;
    margin-bottom: 50px;
}


.page-title .line-box {
    min-width: 80px;
    position: relative;
    
}

.line {
    width: 80px;
    position: absolute;
    border-bottom: 3px solid #21062A;
    left: 10px; 
    top: 50%;
}


/* why we? */
.advantages {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 100px 0;
}
.advantages__inner {
    display: flex;
}
.image {
    margin-right: 95px;
}
.advantages-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.advantage-header {
    margin-left: 185px;
    max-width: 320px;
}

.advantages__list {
    background-color: #21062A;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px;
    padding-left: 185px;
}

.advantage {
    max-width: 320px;
    width: 100%;
    margin-bottom: 25px;
}
.avantage__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}
.advantage__subtitle {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

.advantage p {
    color: #C4C4C4;
    line-height: 28px;
}

/* slider */

.car-slider {
    padding-top: 25px;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider ul.slick-dots {
    display: flex !important;
    align-items: center;
    margin: 50px 0 80px;

}

.slider ul.slick-dots button {
    font-size: 0;
    height: 1px;
    width: 50px;
    background-color: #C4C4C4;
    margin-right: 20px;
    transition: all .5s;
}

.slider ul.slick-dots button:hover {
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.9);
}

.slider .slick-dots li.slick-active button {
    height: 3px;
    background-color: #5A0D67;
}


.slider__item {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    flex-basis: 450px;
    margin-right: 14px;
    padding: 7px 6px 11px;
    border: 1px solid #C4C4C4;
    transition: all .2s;
}


.slider__item:hover {
    border: 1px solid #5A0D67;
    background-color: #5A0D67;
}


.slider__item:hover h3 {
    color: #fff;
}


.slider__item img {
    width: 100%;
    margin-bottom: 25px;
}

.slider__item:last-child {
    margin-right: 0px;
}
.slider__item-description {
    text-align: center;
}

.slider__item-description h3 {
    color: #2C2B2B;
    font-weight: 300;
    margin-bottom: 10px;
}


/* contacts */

.contacts {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
}

.contacts-data {
    padding: 50px 0 55px;
    margin-right: 90px;
    flex-basis: 415px;
    flex-grow: 1;
}

.contacts-description h3 {
    color: #5A0D67;
    font-weight: 300;
    margin-bottom: 8px;
}

.contacts-description p {
    line-height: 26px;
}

.contacts-description div {
    margin-bottom: 20px;
}

.contacts-form {
    flex-basis: 600px;
    background-color: #21062A;
    color: #fff;
    padding: 50px 75px 55px;
}

#contact-title {
    /* flex-basis: 340px; */
    color: #fff;
    margin: 0 auto 25px;
    width: 340px;
}

#contact-title .line {
    border-bottom: 2px solid #fff;
}

.inputs-form {
    flex-basis: 450px;
}

.inputs {
    display: flex;
    flex-direction: column;
    
}




.contact-input {
    background-color: #21062A;
    font-family: 'Oswald', sans-serif;
    color: #C4C4C4;
    border: 2px solid #fff;
    padding: 24px 15px;
    margin-bottom: 12px;
    transition: all .2s;
}

.contact-input:focus {
    
    border: 2px solid #5A0D67;
}




.contact-input::placeholder {
    font-family: 'Oswald', sans-serif;
    color: #C4C4C4;
    line-height: 26px;
    text-align: center;
    font-weight: 300;
}

.send-button, .consultation-button {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    background-color: #5A0D67;
    display: inline-block;
    width: 250px;
    padding: 15px;
    text-align: center;
}

.send-button { 
    margin: 66px auto 0;
    font-weight: 300;
    font-size: 14px;
}



/* footer */

.footer {
    background-color: #21062A;
    color: #fff;
    padding: 24px 0 23px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social-media {
    display: flex;
    align-items: center;
    
}

.footer-social-media img {
    margin-right: 10px;
}
