body {
    margin-top: -14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    color: #4a6385;
    font-size: 14px;
}

a {
    color: #000;
    display: inline-block;
}

header {
    margin-top: 0;
}

.header {
    border-top: 1px solid #226fd4;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    min-height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__list li {
    margin-left: 38px;
}

.menu__list a {
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f3f54;
}

.top {
    background-color: #226fd4;
    padding: 150px 0 180px 0;
    margin-bottom: 155px;
}

.top__inner {
    display: flex;
}

.top-info {
    max-width: 570px;
    margin-right: 35px;
    color: #fff;

}
.top-info__subtitle {
}

.top-info__title {
    font-family: 'Roboto' sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
}

.top-info__description {
    font-size: 19px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 35px;
}

.top-info__description span {
    font-size: 14px;
    line-height: 24px;
    display: block;
    font-weight: 400;
}

.top-info__list {
    margin-bottom: 50px;
}

.top-info__list li {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
    position: relative;
    padding-left: 24px;
}

.top-info__list li:before {
    width: 13px;
    height: 13px;
    content: "";
    background-image: url('../images/check.png');
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
}

.top-info_button {
    color: #fff;
    border: 3px solid #fff;
    border-radius: 30px;
    padding: 13px 44px;
    margin-bottom: 15px;
    font-size: 14px;
}
.top-info__button-description {
}


.top-images {
}
.top-images__box {
    position: relative;
}
.top-images__circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 14px;
    margin-bottom: 10px;
    position: absolute;
    top: -65px;
    right: -60px;
}
.top-images__title {
    margin-bottom: 10px;
    text-align: left;
    width: 140px;   
}

.top-images__price {
    margin-bottom: 5px;
    font-size: 54px;
    font-weight: 700;
    
    
}
.top-images__date {
    text-align: right;
    width: 140px;
}

/* Section prices */



.title {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #2f3f54;
}

.title span {
    color: #2c7de8;
}

.price__description {
    max-width: 595px;
    margin: 35px auto 125px;
    text-align: center;
}

.price__items {
    display: flex;
    justify-content: space-between;
}

.price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
    padding: 0 50px 60px;
    overflow: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.price-item__number {
    width: 270px;
    height: 465px;
    border-radius: 135px;
    color: #fff;
    background-color: #2c7de8;
    margin: 0 auto;
    position: absolute;
    top: -370px;
    font-weight: 700;
    font-size: 33px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}

.price-item__number span {
    font-size: 16px;
}

.price-item__images {
    padding-top: 120px;
    text-align: center;
    margin-bottom: 30px;
    min-height: 243px;
}
.price-item__title {
    margin-bottom: 25px;
    font-size: 32px;
    list-style: 40px;
    font-weight: 700;
    color: #2c7de8;
}
.price-item__text {
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
}
.price-item__list {
    margin-bottom: 75px;
    
}

.price-item__list li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    padding-left: 36px;
    position: relative;
}

.price-item__list li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/prices_check.png');
    width: 15px;
    height: 15px;
}

.price-item__button {
    font-size: 17px;
    color: #fff;
    background-color: #2c7de8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
}

.footer {
    background-color: #304054;
    padding: 80px 0 125px;
    color: #718db2;
}

.footer__inner {
    display: flex;
    justify-content: space-between;

}

.footer-column__logo {
    width: 263px;
}

.footer__logo {
    margin-bottom: 30px;
}

.footer__text {
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .05)
}

.footer__title {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #d0e4ff;
    margin-bottom: 30px;
}

.footer__menu {
    width: 165px;
}

.footer__list a {
    font-size: 13px;
    margin-bottom: 8px;
    color: #718db2;
}

.footer__form {
    width: 263px;
}

.footer__form input, .footer__form textarea {
    border: 1px solid rgba(255, 255, 255, .05);
    background-color: transparent;
    height: 38px;
    display: block;
    width: 100%;
    padding: 0 12px;
    color: #718db2;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.footer__form input::placeholder,
 .footer__form textarea::placeholder {
    color: #718db2;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
 }

 .footer__form textarea {
     padding: 12px;
     height: 85px;
     resize: none;
 }

.footer__form button {
    margin-top: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #2575e7;
    padding: 10px;
    cursor: pointer;
}

.reviews {
    padding: 120px 0;
    background-color: #fafafa;
}

.reviews-slider {
    margin-top: 160px;

}

.reviews-slider .slick-list {
    margin: 0 -50px;
}

.reviews-slider .slick-track {
    margin: 0 50px;
}

.reviews-slider .slick-dots {
    list-style: none;
    display: flex !important;
    justify-content: center;
    margin-top: 50px;
}

.reviews-slider .slick-dots li {
    margin: 0 8px;
}

.reviews-slider .slick-dots li.slick-active button {
    background-color: #fff;
    border: 2px solid #2575e7;
}

.reviews-slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    border: 0;
    background-color: #267ae7;
}

.reviews-box {
   display: flex;

}

.reviews-box__images {
    background-color: #267ae7;
    width: 190px;
    display: flex;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

.reviews-box__images img {
    border-radius: 50%;
}

.reviews-box__content {
    background-color: #fff;
    width: 330px;
    font-size: 16px;
    line-height: 26px;
    padding: 0 40px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
    
}

.reviews-box__text {
    margin-bottom: 30px;
}

.reviews-box__author {
    color: #2575e7;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.partners {
    padding: 100px 0 80px;
}

.partners__inner {
    display: flex;
    justify-content: space-between;
}