.container { 
    width: 92%;
    margin: auto;
}

h2 {
    font-size: 30px;
    line-height: 36px;
    font-family: Arial;
    color: #445161;
}

.header {
    font-family: Arial;
    background-color: #445162;
    color: #fff;
    font-weight: 400;
    padding: 50px 0;
}

.header .container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}

.header h1 {
    font-size: 60px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}

.header ul {
    margin-top: 40px;
}

.header li {
    font-size: 20px;
    line-height: 36px;
    padding-bottom: 10px;
}

.header li:before {
    background: url('../images/check_icon_346.png') no-repeat;
    content: '';
    width: 25px;
    height: 19px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.introduction {
    padding: 50px 0 45px;
}

.introduction .container {
    display: flex;
}

.introduction-image {
    flex-basis: 30%;
}

.introduction-info {
    flex-grow: 1;
}

.introduction-info {
    font-family: Arial;
    font-weight: 400;
    
    margin: 0 70px 46px 38px;
}

.introduction-info h2 {
    margin-bottom: 36px;
}

.introduction-info p {
    font-size: 16px;
    line-height: 24px;
}

.definition {
    margin-bottom: 30px;
}


.images {
    background-color: #f5f5f5;
}

.images-title {
    padding: 50px 0 0;
    text-align: center;
} 

.images-section {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.images-block {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    flex-grow: 1;
    margin-top: 30px;
}

.images-block-image {
    flex-basis: 45%;
}

.image-block-description {
    flex-grow: 1;
    padding: 0 15px;
}

.image-block-description h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
}

.image-block-description p {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-weight: 400;
}

/* columns section */

.columns-section {
    padding: 50px 0;
}

.columns-section h2 {
    text-align: center;
}

.columns { 
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.columns-title {
    margin-bottom: 30px;
}

.column {
    /* flex-grow: 1; */
    flex-basis: 300px;
    border-radius: 5px;
    background-color: #445162;
    border: 3px solid #445162;
    height: 500px;
}

.top-title {
    padding: 18px 0 18px;
    text-align: center;
}

.top-title h2 {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.bottom-title {
    background-color: #fff;
    padding: 20px 0;
}

.column-content {
    height: 350px;
    padding: 20px 30px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-content p {
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.column-content button {
    padding: 15px 0; 
    font-family: Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    background-color: #fff;
    border-radius: 5px;
}

/* footer  */

.footer {
    background-color: #f5f5f5;
    padding: 30px 0;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #445162;
}